body {
    background-image: url("./gradients/jo9iVF.jpg");
    background-size: cover;
    
}

.custom-header {
    height: 300px;
    background-image: url("./images/buddha-1177009.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    background-position-y: -180px;  
    /* background-position-y: -600px; */

}

.custom-hr {
    color: white;
}

.custom-header-font {
    color: white;
    font-family: 'Charm', sans-serif;
    font-size: 95px;
}

.mental {
    color: rgb(227, 240, 202);
    font-family: 'Fredericka the Great', serif;
}

.custom-feeling {
    border: white;
    border-style: solid;
    background-color: rgb(177, 174, 211);

}
.custom-con {
    margin: 0px;
}

.custom-navbar {
    background-color: rgb(219, 223, 165)7, 247, 236);
}