body {
  background-image: url("https://cdn.pixabay.com/photo/2014/08/15/11/29/beach-418742_960_720.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
  margin: 0%;
  padding: 0%;
  
  
}



#container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}


.custom-header-font {
  color: white;
}



.custom-feeling {
  border: white;
  border-style: solid;
  background-color: rgb(177, 174, 211);
  border: none !important;
}

.color-emoji {
  color: yellow;
}

.desc {
  color: yellow;
}

.Title-color {
  color: yellow;
}

.color-emoji:hover {
  color: greenyellow;
}
