/* NavBar */
.navbar-brand
{
  font-size: 35px !important;
}

.navbar-nav
{
  font-size: 20px !important;
}
/*Body*/
body {
  background-image: url("./main-images/purplesky.png");
  background-size: cover;
}

/*How i'm feeling*/
.quote {
  text-align: center;
}

.feelings {
  text-align: center;
  color: aqua; /* change me!!! */ 
  padding: 20px;
}

.message {
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.checkins { 
  text-align: center;
  padding: 20px;
}

.card-body-left {
  align-content: left;

}