/* NavBar */
.navbar-brand
{
  font-size: 35px !important;
}

.navbar-nav
{
  font-size: 20px !important;
}
/*Body*/
body {
  background-image: url("./main-images/purplesky.png");
  background-size: cover;
}

/*How i'm feeling*/
#quote {
  text-align: center;
  margin: 30px;
  font-family: 'Bad Script', cursive;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.feelings {
  text-align: center;
  color: rgb(255, 255, 255); /* change me!!! */ 
  padding: 20px;
}
.feelings h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.feelings p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message {
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.checkins { 
  text-align: center;
  padding: 20px;
}

.card-body-left {
  align-content: left;

}

.clear, .save {
  background-color: rgb(228, 200, 238);
  border-radius: 6px;
  color: rgb(105, 104, 177);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}